<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package">
            <directory suffix=".php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="display_errors" value="true"/>
        <env name="SWIFTYPE_DEFAULT_ENGINE" value=""/>
        <env name="SWIFTYPE_API_PRIVATE_KEY" value=""/>
        <env name="SWIFTYPE_HOST_IDENTIFIER" value=""/>
    </php>
</phpunit>
